<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1><%= @property.name %></h1>
      <p><%= @property.address %></p>
    </div>
  </div>
</div>

<div class="row">


  <div class="large-3 columns ">
    <div class="panel">
      <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
        <section class="section">
          <h5 class="title"><%= link_to 'Add an item', new_property_item_path(@property) %></h5>
        </section>
        <section class="section">
          <h5 class="title"><%= link_to 'Send an invite', new_property_user_path(@property) %></h5>
        </section>
        <section class="section">
          <h5 class="title"><%= link_to 'Edit this page', edit_property_path(@property) %></h5>
        </section>
      </div>

    </div>
  </div>

  <div class="large-9 columns">
    <% @property.users.each do |user| %>
      <div class="row">
        <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
          <div class="large-10 columns">
            <p><strong><%= user.name %></strong></p>
            <p><%= user.email %></p>
          </div>
      </div>
      <hr/>
    <% end %>
  </div>

</div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-5 columns">
        <p>© Copyright 2015 House Chief</p>
      </div>
      <div class="large-7 columns">
        <ul class="inline-list right">
          <li><%= link_to 'Add an item', new_property_item_path(@property) %></li>
          <li><%= link_to 'Property settings', edit_property_path(@property) %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
