<% has_item_attachments = item.item_attachments.exists? %>
<div class="row">
  <div class="large-1 columns medium-1 small-2"><img src="<%= image_path('checkmark.png') %>"/></div>
  <div class="large-11 columns medium-11 small-10">
    <p class="item-title"><a href="<%= property_item_path(@property, item) %>">
      <strong><%= item.name %></strong></a>
    </p>
    <ul class="inline-list">
      <li class="item-notes"><%= simple_format truncate(item.notes, length: 200, escape: false) %></li>
      <% if item.last_maintenance_at? %>
        <li class="pull-right"><strong>Last update:</strong> <%= item.last_maintenance_at.strftime('%B %Y') %></li>
      <% end %>
      <% if item.frequency? %>
        <li class="pull-right"><strong>Frequency:</strong> <%= item.frequency.titleize %></li>
      <% end %>
      <% if has_item_attachments %>
        <% item.item_attachments.each do |item_attachment| %>
          <li class="pull-right">
            <% attachment_file = item_attachment.file %>
            <% image_thumb_url = attachment_file.content_type.start_with?('image') && attachment_file.thumb.url %>
            <%= image_tag(image_thumb_url || attachment_file.default_url) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<hr/>
