<div class="row">
  <div class="panel">
    <h1>Your properties</h1>
  </div>
</div>

<div class="row">

  <div class="large-offset-1 large-10 columns end">
    <% if @properties.blank? %>
      <div class="row margin-bottom-large">
        <div class="large-12 columns">
          <h3>First step, let's create a property.</h3>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= link_to 'Add a property', new_property_path, class: "button large" %>
        </div>
      </div>
    <% end %>

    <% @properties.each do |property| %>
      <div class="row">
        <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
        <div class="large-10 columns">

          <p><strong><%= property.name %></strong> <%= property.address %></p>
          <% if property.users.count > 1 %>
            <p>Members: <%= property.users.pluck(:name).join(", ") %></p>
          <% end %>
          <ul class="inline-list">
            <li><%= link_to 'View property', property %></li>
            <li><%= link_to 'Edit property', edit_property_path(property) %></li>
          </ul>

        </div>
      </div>
      <hr/>
    <% end %>
  </div>
</div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-5 columns">
        <p>© Copyright House Chief, Inc.</p>
      </div>
      <div class="large-7 columns">
        <ul class="inline-list right">
          <li><%= link_to 'Add a new property', new_property_path %></li>
          <li><a href="#">Section 2</a></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>



