<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1><%= @property.name %></h1>
      <p><%= @property.address %></p>
    </div>
  </div>
</div>

<div class="row">


  <div class="large-3 columns ">
    <%= render partial: 'shared/menu' %>
  </div>

  <div class="large-9 columns">

    <% if @property.items.blank? %>
      <p>Create an item or a to-do.</p>
    <% else %>
      <% @property.items.each do |item| %>
        <%= render partial: 'item', locals: {item: item} %>
      <% end %>
    <% end %>



  </div>

</div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-5 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>
      <div class="large-7 columns">
        <ul class="inline-list right">
          <li><%= link_to 'Add an item', new_property_item_path(@property) %></li>
          <li><%= link_to 'Edit this page', edit_property_path(@property) %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
