<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Items:</strong>
  <% if @property.items.blank? %>
    No items to show.
  <% else %>
    <ul>
      <% @property.items.each do |item| %>
        <li>
          <strong><%= item.name %></strong>
          <br><strong>Notes:</strong> <%= item.notes %>
          <% if item.frequency? %>
            <br><strong>Maintenance Frequency:</strong> <%= item.frequency.titleize %>
          <% end %>
          <% if item.last_maintenance_at? %>
            <br><strong>Last Updated:</strong> <%= item.last_maintenance_at %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

</p>

<%= link_to 'Add Item', new_property_item_path(@property) %> |
<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
