<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: [small,medium,large]">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Housechief</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <%  items_active = controller_name == 'properties' && action_name == 'show'
          sp_active = controller_name == 'service_providers'
          settings_active = controller_name == 'properties' && action_name == 'edit'
      %>
      <% if @property.present? && @property.persisted? %>
        <li class="<%= 'active' if items_active %>"><a href="<%= property_path(@property) %>">Notes</a></li>
        <li class="<%= 'active' if sp_active %>"><a href="<%= property_service_providers_path(@property) %>">Contacts</a></li>
        <li class="<%= 'active' if settings_active %>"><a href="<%= edit_property_path(@property) %>">Settings</a></li>
        <li class="has-dropdown">
          <a href="#"><%= image_tag('add-note-white.png') %></a>
          <ul class="dropdown">
            <li><a href="<%= new_property_item_path(@property) %>">New Note</a></li>
            <li><%= link_to 'New Contact', new_property_service_provider_path(@property) %></li>
            <li><%= link_to 'Add Admin', new_property_user_path(@property) %></li>
          </ul>
        </li>
      <% end %>
      <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
    </ul>
  </section>
</nav>
