<div class="row">
  <div class="large-12 columns">
    <h2>Contacts</h2>
    <% @property.service_providers.each do |service_provider| %>
      <div class="row">
          <div class="large-12 columns">
            <h3><strong><%= service_provider.name %></strong> <span class="edit-link">(<a href="<%= edit_property_service_provider_path(@property, service_provider) %>">edit</a>)</span></h3>
            <% if service_provider.description.present? %>
              <p><%= service_provider.description %></p>
            <% end %>
            <% if service_provider.phone.present? %>
              <p><%= service_provider.phone %></p>
            <% end %>
            <% if service_provider.address.present? %>
              <p><%= service_provider.address %></p>
            <% end %>
          </div>
      </div>
      <hr/>
    <% end %>
  </div>

</div>

<%= render partial: 'shared/footer' %>