<div class="row">
  <div class="large-12 columns">
    <h2>Contacts</h2>
    <% @property.service_providers.each do |service_provider| %>
      <div class="row">
        <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
          <div class="large-10 columns">
            <p><strong><%= service_provider.name %></strong></p>
            <% if service_provider.description.present? %>
              <p><%= service_provider.description %></p>
            <% end %>
            <% if service_provider.phone.present? %>
              <p><%= service_provider.phone %></p>
            <% end %>
            <% if service_provider.address.present? %>
              <p><%= service_provider.address %></p>
            <% end %>
          </div>
      </div>
      <hr/>
    <% end %>
  </div>

</div>

<%= render partial: 'shared/footer' %>