<div class="row">

  <div class="large-12 columns">
    <h2>Add a service provider to <%= @property.name %></h2>

    <div class="row">
      <div class="large-12 columns">
        <%= render 'form' %>
      </div>
    </div>

    <div class="row">
      <%= link_to 'Back', property_path(@property) %>
    </div>
  </div>

</div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-5 columns">
        <p>© Copyright 2015 House Chief</p>
      </div>
      <div class="large-7 columns">
        <ul class="inline-list right">
          <li><%= link_to 'New note', new_property_item_path(@property) %></li>
          <li><%= link_to 'Property settings', edit_property_path(@property) %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
