<% content_for :title, "House Chief | #{@service_provider.name}" %>

<div class="row">

  <div class="large-12 columns">
    <h2><%= @service_provider.name %> <span class="edit-link">(<a href="<%= edit_property_service_provider_path(@property, @service_provider) %>">edit</a>)</span></h2>
    <div class="row">
      <div class="large-12 columns">
        <p><b>Description</b></p>
        <p><%= @service_provider.description %></p>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <p><b>Phone</b></p>
        <p><%= number_to_phone @service_provider.phone, area_code: true %></p>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <p><b>Address</b></p>
        <p><%= @service_provider.address %></p>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <p><b>Date added:</b> <%= time_ago_in_words @service_provider.created_at %> ago</p>
      </div>
    </div>
  </div>

</div>
