<div class="row">
  <!-- <div class="columns large-12"> -->
    <h1>Items</h1>
  <!-- </div> -->
</div>

<div class="row">
  <!-- <div class="columns large-12"> -->
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Notes</th>
          <th>Frequency</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.notes %></td>
            <td><%= item.frequency %></td>
            <td><%= link_to 'Show', property_item_path(@property, item) %></td>
            <td><%= link_to 'Edit', edit_property_item_path(property_id: @property.id, id: item.id) %></td>
            <td><%= link_to 'Destroy', property_item_path(property_id: @property.id, id: item.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <!-- </div> -->
</div>

<div class="row">
  <!-- <div class="columns large-12"> -->
    <%= link_to 'New Item', new_property_item_path %>
  <!-- </div> -->
</div>
