<% content_for :title, "House Chief | [Admin View]" %>

<div class="row">
  <!-- <div class="columns large-12"> -->
    <h1>Notes</h1>
  <!-- </div> -->
</div>

<div class="row">
  <!-- <div class="columns large-12"> -->
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Notes</th>
          <th>Attachments</th>
          <th>Frequency</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr class="items-listing">
            <td>
              <a href="<%= property_item_path(@property, item) %>">
                <p><%= item.name %></p>
              </a>
            </td>
            <td>
              <a href="<%= property_item_path(@property, item) %>">
                <%= simple_format truncate(item.notes, length: 200, escape: false) %>
              </a>
            </td>
            <td>
              <% if item.item_attachments.exists? %>
                <% item.item_attachments.each do |item_attachment| %>
                  <%= render partial: 'shared/image', locals: {item_attachment: item_attachment, thumb: true} %>
                <% end %>
              <% end %>
            </td>
            <td><%= item.frequency %></td>
            <td><%= link_to 'Edit', edit_property_item_path(property_id: @property.id, id: item.id) %></td>
            <td><%= link_to 'Delete', property_item_path(property_id: @property.id, id: item.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <!-- </div> -->
</div>

<div class="row">
  <!-- <div class="columns large-12"> -->
    <%= link_to 'New note', new_property_item_path %>
  <!-- </div> -->
</div>
