<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @item.notes %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @item.frequency %>
</p>

<%= link_to 'Edit', edit_property_item_path(@property, @item) %> |
<%= link_to 'Back', property_items_path(@property) %>
