<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-1 columns small-3 item-thumbnail-container">
        <%= image_tag('notebook.png', class: 'item-thumbnail') %>
      </div>
      <div class="large-11 columns">
        <div class="row">
          <div class="large-12 columns">
            <h2><strong><%= @item.name %></strong></h2>
            <p><%= simple_format @item.notes %></p>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <% if @item.frequency? %>
              <p><strong>Maintenance Frequency:</strong> <%= @item.frequency.titleize %></p>
            <% end %>
          </div>
        </div>

        <% if @item.last_maintenance_at %>
          <div class="row">
            <div class="large-3 columns">
              <p><strong>Last updated:</strong></p>
            </div>
            <div class="large-4 columns end">
              <%= @item.last_maintenance_at.strftime('%B %Y') %>
            </div>
          </div>
        <% end %>
        <% item_attachments_count = @item_attachments.size %>
        <% if item_attachments_count > 0 %>
          <h6>Attachments</h6>
          <div class="row">
            <% @item_attachments.each_with_index do |item_attachment, index| %>
              <% file = item_attachment.file %>
              <% last_attachment = item_attachments_count == (index + 1) %>
              <div class="columns large-3 small-3 file-link <%= 'end' if last_attachment %>">
                <a href="<%= file.url %>" type="<%= file.content_type %>" taget="_blank">
                  <%= render partial: 'shared/image', locals: { item_attachment: item_attachment, thumb: false } %>
                  <% unless file.content_type.start_with?('image').present? %>
                    <br><span class="download-label">Click to download</span>
                  <% end %>
                  <br><%= file.filename || file.file.filename %>
                </a>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

</div>

<%= render partial: 'shared/footer' if @property %>

<%= javascript_include_tag 'properties' %>