<div class="row">
  <div class="panel header-panel">
    <div class="large-4 columns">
      <h1><%= @property.name %></h1><span class="subtitle"><%= @property.address %></span>
    </div>
    <div class="large-8 columns header-actions">
      <%= render partial: 'shared/menu' %>
    </div>
  </div>
</div>


<div class="row">

  <div class="large-12 columns">

    <div class="row">
      <div class="large-1 columns small-3 item-thumbnail-container">
        <%= image_tag('notebook.png', class: 'item-thumbnail') %>
      </div>
      <div class="large-11 columns">
        <div class="row">
          <div class="large-12 columns">
            <h2><strong><%= @item.name %></strong></h2>
            <p><%= simple_format @item.notes %></p>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <% if @item.frequency? %>
              <p><strong>Maintenance Frequency:</strong> <%= @item.frequency.titleize %></p>
            <% end %>
          </div>
        </div>

        <% if @item.last_maintenance_at %>
          <div class="row">
            <div class="large-3 columns">
              <p><strong>Last updated:</strong></p>
            </div>
            <div class="large-4 columns end">
              <%= @item.last_maintenance_at.strftime('%B %Y') %>
            </div>
          </div>
        <% end %>
        <% item_attachments_count = @item_attachments.size %>
        <% if item_attachments_count > 0 %>
          <h6>Attachments</h6>
          <div class="row">
            <% @item_attachments.each_with_index do |item_attachment, index| %>
              <% last_attachment = item_attachments_count == (index + 1) %>
              <div class="large-6 columns small-6 <%= 'end' if last_attachment %>"><%= image_tag item_attachment.file.url %></div>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

</div>

<%= render partial: 'shared/footer' if @property %>

<%= javascript_include_tag 'properties' %>