<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "House Chief" %></title>
    <% if current_page?(controller: 'home', action: 'index') %>
      <link href='http://fonts.googleapis.com/css?family=Knewave' rel='stylesheet' type='text/css'>
    <% end %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="background-image">
      <% if flash[:notice] || flash[:alert] %>
        <div class="flash">
          <%= notice || alert %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
